<mat-toolbar color="secundary">
  <mat-toolbar-row>
    <span>List of Events</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="openDialog()" color="primary">
        <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-card class="card-item" *ngFor="let event of events">
      <mat-card-header>
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>{{event.artist}}</mat-card-subtitle>
        <mat-card-subtitle>{{event.date}} - {{event.location}}</mat-card-subtitle>
        <mat-card-subtitle>{{event.country}}/{{event.city}}</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
</mat-grid-list>
